    <nav class="navbar navbar-light navbar-expand-md custom-header">
        <div class="container-fluid"><a class="navbar-brand" href="#"><img class="img-fluid" src="https://raw.githubusercontent.com/dprevatt/DHS-JROTC-Web-App/master/src/Wolf%20Front%20Transparent.png" width="auto" height="auto" style="width:43px;margin:-26px;margin-right:-27px;margin-top:-32px;margin-left:-33px;margin-bottom:-31px;"><span style="margin-left:27px;font-family:'News Cycle', sans-serif;color:rgb(253,250,254);">Dothan High JROTC</span>  </a>
            <button
                class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbar-collapse"></div>
        </div>
    </nav>
    <router-outlet></router-outlet>