<div></div>
    <div class="team-clean"></div>
    <div class="card"></div>
    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Ticket Counters</h2>
                <p class="text-center">Ticket counts by what has been assigned, what has been sold, and what has been picked up by the buyer. </p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/desk.jpg"></a>
                    <h3 class="name">123 Tickets Assigned</h3>
                    <p class="description">The total amount of steak plate tickets that have been assigned to the current Cadet staff, whether the tickets have been submitted or not.</p><a href="#" class="action"></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/building.jpg"></a>
                    <h3 class="name">123 Tickets Sold</h3>
                    <p class="description">The amount of tickets that have been assigned and sold by the Cadet staff.</p><a href="#" class="action"></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/loft.jpg"></a>
                    <h3 class="name">123 Plates Picked Up</h3>
                    <p class="description">The number of steak plates that have been sold and picked up by the purchaser.</p><a href="#" class="action"></a></div>
            </div>
        </div>
    </div>