    <div class="features-boxed" style="background-color:#f8efba;">
        <div class="container" style="background-color:#f8efba;">
            <div class="intro">
                <h2 class="text-center">DHS JROTC Steak Sale</h2>
                <p class="text-center" style="color:#000000;">The DHS JROTC &nbsp;Steak Sale is used to generate funds for drill team events, leadership conferences and the military ball.</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="background-color:#2C3A47;"><i class="fa fa-user icon"></i>
                        <h3 class="name" style="color:#ffffff;">Tickets By Cadet</h3>
                        <p class="description" style="color:#ffffff;">The option to find a Cadet and view the total number of tickets sold per Cadet.</p><a href="#" class="learn-more" [routerLink]="['/CadetStats']">View Cadet Stats »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="background-color:#2C3A47;"><i class="fa fa-users icon"></i>
                        <h3 class="name" style="color:#ffffff;">Tickets By Company</h3>
                        <p class="description" style="color:#ffffff;">The option to find a Company and view the total number of tickets sold per Company.</p><a href="#" class="learn-more" [routerLink]="['/CompanyStats']">View Company Stats »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="background-color:#2C3A47;"><i class="fa fa-line-chart icon"></i>
                        <h3 class="name" style="color:#ffffff;">Ticket Counters </h3>
                        <p class="description" style="color:#ffffff;">The option to view the counts of tickets sold, tickets assigned, and plates picked up.</p><a href="#" class="learn-more">View Ticket Counts »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="background-color:#2C3A47;"><i class="fa fa-trophy icon"></i>
                        <h3 class="name" style="color:#ffffff;">Cadet Awards </h3>
                        <p class="description" style="color:#ffffff;">Cadets listed by thier award status: Bronze Silver, Gold and Platinum.</p><a href="#" class="learn-more">View Cadet Awards »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="background-color:#2C3A47;"><i class="fa fa-info icon"></i>
                        <h3 class="name" style="color:#ffffff;">About DHS JROTC</h3>
                        <p class="description" style="color:#ffffff;">Find out more about what's happening with the Dothan High School JROTC.<br></p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="background-color:#2C3A47;"><i class="fa fa-money icon"></i>
                        <h3 class="name" style="color:#ffffff;">Order Online</h3>
                        <p class="description" style="color:#ffffff;">Purchase your steak plates online and we'll take care of the rest, simple as that.</p><a href="#" class="learn-more">Place an Order »</a></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
